<h1>Editar pais</h1>

<%= form_with(model: @pais,id: 'formulario_pais',url: actualizar_pais_path, local: true) do |f| %>
	<%= render 'formulario', pais: @pais, f: f %>
<% end %>

<%= link_to "Regresar", paises_inicio_path %>