<h1>Consultar pais</h1>

<table>
	<tr>
		<th>Nombre</th>
		<td><%= @pais.nombre %></td>
	</tr>	
	<tr>
		<th>Descripcion</th>
		<td><%= @pais.description %></td>
	</tr>

</table>
<%= link_to "Regresar", paises_inicio_path %>