<h1>Consultar estado</h1>

<table>
	<tr>
		<th>Nombre</th>
		<td><%= @estado.nombre %></td>
	</tr>	
	<tr>
		<th>Descripcion</th>
		<td><%= @estado.descripcion %></td>
	</tr>	
	<tr>
		<th>País</th>
		<td><%= @estado.pais.nombre %></td>
	</tr>

</table>